.faq {
    margin-top: 62px;
    margin: 62px $main-gap 0 $main-gap;
}

.faq__text {
    @include title-secondary;
}

.faq__title {
    @include title-primary;
    margin: 3px 0 0;
}

.faq__wrapper {
    margin-top: 23px;
}