.gallery {
    width: 100%;
    height: 222px;
    overflow: visible;
}

.gallery img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery .gallery__btn {
    background-color: rgba(0, 0, 0, 0.24);
    width: 40px;
    height: 40px;

    &:after {
        font-size: 24px;
        color: rgba(255, 255, 255, 0.48);
    }
}

.gallery__btn--prev {
    left: 4px;
}

.gallery__btn--next {
    right: 54px;
}

.gallery .swiper-pagination-bullets {
    left: -16px;
    bottom: -21px;
    z-index: 1000;
}

.swiper-pagination-bullet {
    width: 8px;
    height: 4px;
    border-radius: 10px;
    background: #D5DAE0;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: $color-secondary;
    width: 12px;
}