.item {
    margin: 4px 0 46px;
    padding: 16px 0 18px $main-gap;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);

    &:last-of-type {
        margin-bottom: 0;
    }
}

.item__info {
    margin-top: 32px;
}

.item__name {
    font-size: 20px;
    line-height: 23px;
    font-weight: 600;
    margin: 0;
    letter-spacing: 0.7px;
}

.item__size {
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

.item__size span {
    color: $color-sub;
}

.item__options {
    margin-top: 26px;
}

.item__options-title {
    margin: 0;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: $color-secondary;
    text-align: center;
    width: 80px;

    &::after {
        content: "";
        width: 100%;
        height: 1px;
        display: block;
        background-color: $color-secondary;
    }
}

.item__options-wrapper {
    height: 152px;
    overflow-y: scroll;
    margin-right: $main-gap;
    border-right: 1px solid #EBEBEB;
}

.item__options-wrapper::-webkit-scrollbar {
    width: 3px;
}

.item__options-wrapper::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: $color-secondary; 
}

.item__time {
    line-height: 18px;
    margin-top: 12px;
}

.item__time-title {
    margin: 0;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #939598;
}

.item__time-wrapper {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
}

.item__radio {
    margin-right: 8px;
    margin-bottom: 7px;
    height: 26px;
    border-radius: 6px;
    font-size: 12px;
    display: flex;
    align-items: center;
    padding: 0 12px;
}

.item__time input:checked + .item__radio {
    background-color: $color-secondary;
    color: $color-sup;
}

.item__wrapper {
    margin-top: 15px;
    display: flex;
    margin-right: $main-gap;
}

.item__price {
    margin: 0;
    font-family: "Roboto Slab";
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
}

.item__btn {
    @include button-primary;
    margin-left: auto;
    padding: 10px 12px;
}