.option {
    padding: 8px;
    display: flex;
    line-height: 18px;
    border-bottom: 1px solid #EBEBEB;
}

.option__text {
    margin-left: 8px;
}

.option__title {
    margin-top: 7px;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.6px;
}

.option__price {
    margin-top: 12px;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 12px;
    color: $color-secondary;
    font-family: "Roboto Slab";
}

.option__label {
    margin-left: auto;
}

.option__label {
    position: relative;
    
    &::before {
        content: "";
        width: 13px;
        height: 13px;
        position: absolute;
        right: 2px;
        top: 25px;
        border-radius: 2px;
        border: 1px solid $color-secondary;
    }
}

.option__checkbox:checked + .option__label::before {
    background-color: $color-secondary;
    background-image: url("../img/check.svg");
}