@font-face {
    font-family: "Roboto Slab";
    font-display: swap;
    src: url("../fonts/RobotoSlab-Font.woff2"),
        url("../fonts/RobotoSlab-Font.woff");
    font-weight: 700;
}

@font-face {
    font-family: "Work Sans";
    font-display: swap;
    src: url("../fonts/WorkSans-Regular.woff2"),
        url("../fonts/WorkSans-Regular.woff");
    font-weight: 400;
}

@font-face {
    font-family: "Work Sans";
    font-display: swap;
    src: url("../fonts/WorkSans-Medium.woff2"),
        url("../fonts/WorkSans-Medium.woff");
    font-weight: 500;
}

@font-face {
    font-family: "Work Sans";
    font-display: swap;
    src: url("../fonts/WorkSans-SemiBold.woff2"),
        url("../fonts/WorkSans-SemiBold.woff");
    font-weight: 600;
}