@mixin title-primary {
    font-family: "Roboto Slab";
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
}

@mixin title-secondary {
    margin: 0;
    line-height: 19px;
    color: $color-secondary;
}

@mixin button-primary {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    background-color: $color-secondary;
    color: $color-sup;
    border: none;
    border-radius: 6px;
}